services:
  broker:
    image: redis:7
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - default

  db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - default
    # Parche crítico para Proxmox
    security_opt:
      - apparmor:unconfined

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8000:8000"
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - export:/usr/src/paperless/export
      - /usr/src/paperless/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPASS: ${DB_PASSWORD}
      PAPERLESS_SECRET_KEY: ${SECRET_KEY}
      PAPERLESS_URL: https://docs.vilcheztech.com
      PAPERLESS_TIME_ZONE: America/Lima
      PAPERLESS_OCR_LANGUAGE: spa
      USERMAP_UID: 1000
      USERMAP_GID: 1000
    # Parche crítico para Proxmox
    security_opt:
      - apparmor:unconfined
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      # Entrada 'web' (puerto 80) para aceptar el tráfico del Túnel
      - "traefik.http.routers.paperless.entrypoints=web"
      - "traefik.http.routers.paperless.rule=Host(`docs.vilcheztech.com`)"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless.service=paperless"

volumes:
  data:
  media:
  export:
  pg_data:
  redis_data:

networks:
  proxy:
    external: true
