services:
  nextcloud_db:
    image: mariadb:10.6
    container_name: nextcloud_db
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-use-native-aio=0
    privileged: true
    security_opt:
      - apparmor:unconfined
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - default

  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Lima
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      # Ajustes para que Nextcloud sepa que es HTTPS aunque le llegue HTTP
      - OVERWRITEHOST=drive.vilcheztech.com
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=172.0.0.0/8
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=web"
      - "traefik.http.routers.nextcloud.rule=Host(`drive.vilcheztech.com`)"
      # Puerto 443 del contenedor (Correcto)
      - "traefik.http.services.nextcloud.loadbalancer.server.port=443"
      # Protocolo HTTPS hacia el contenedor (Correcto)
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=https"
      # --- ELIMINADA LA LÍNEA 'tls=true' PARA QUE ACEPTE AL TÚNEL ---
      - "traefik.http.routers.nextcloud.service=nextcloud"

volumes:
  nextcloud_config:
  nextcloud_data:
  db_data:

networks:
  proxy:
    external: true
