services:
  nextcloud_db:
    image: mariadb:10.6
    container_name: nextcloud_db
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-use-native-aio=0
    privileged: true
    security_opt:
      - apparmor:unconfined
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - proxy

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - OVERWRITEHOST=drive.vilcheztech.com
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=172.0.0.0/8
   volumes:
      - nextcloud_html:/var/www/html
      - /mnt/pve/Disco4TB:/data/disco_completo # <--- AQUÃ VE TODO EL DISCO DE 4TB
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=web"
      - "traefik.http.routers.nextcloud.rule=Host(`drive.vilcheztech.com`)"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud.service=nextcloud"

volumes:
  nextcloud_html:
  db_data:
  # --- ESTO ES LO QUE FALTABA ---
  media_root:
    external: true
    # IMPORTANTE: Esto asume que tu stack multimedia se llama "media".
    # Si le pusiste otro nombre, cambia "media_media_root" por "nombrestack_media_root".
    name: media_media_root

networks:
  proxy:
    external: true
