services:
  nextcloud_db:
    image: mariadb:10.6
    container_name: nextcloud_db
    restart: unless-stopped
    privileged: true
    security_opt:
      - apparmor:unconfined
    command: 
      - --transaction-isolation=READ-COMMITTED
      - --binlog-format=ROW
      - --innodb-use-native-aio=0
      - --skip-name-resolve
      - --socket=/var/lib/mysql/mysql.sock  # <--- FORZAMOS EL SOCKET AQUÃ
    volumes:
      - /data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - proxy

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_PORT=/var/lib/mysql/mysql.sock
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - OVERWRITEHOST=drive.vilcheztech.com
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=172.0.0.0/8
    volumes:
      - nextcloud_html:/var/www/html
      - /mnt/pve/Disco4TB:/data/disco4tb
      - /mnt/videos_antiguos:/data/videos_antiguos
      - /mnt/onedrive:/data/onedrive:shared
      - /mnt/gopro_21_23:/data/gopro_21_23
      - /mnt/gopro_24_25_dji:/data/gopro_24_25_dji
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=web"
      - "traefik.http.routers.nextcloud.rule=Host(`drive.vilcheztech.com`)"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"

volumes:
  nextcloud_html:
  db_data:

networks:
  proxy:
    external: true
