services:
  nextcloud_db:
    image: mariadb:10.6
    container_name: nextcloud_db
    restart: unless-stopped
    # FIX: Desactivamos AIO nativo que falla en Proxmox/LXC
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-use-native-aio=0
    # FIX: Permisos elevados para crear el socket
    privileged: true
    security_opt:
      - apparmor:unconfined
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - default  # Solo red interna por seguridad

  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Lima
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    networks:
      - proxy   # Para hablar con Traefik
      - default # Para hablar con la DB
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=web"
      - "traefik.http.routers.nextcloud.rule=Host(`drive.vilcheztech.com`)"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=443"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.service=nextcloud"

volumes:
  nextcloud_config:
  nextcloud_data:
  db_data:

networks:
  proxy:
    external: true
