services:
  nextcloud_db:
    image: mariadb:10.6
    container_name: nextcloud_db
    restart: unless-stopped
    privileged: true # <-- Restaurado para evitar el error de permisos
    security_opt:
      - apparmor:unconfined # <-- Restaurado
    command: 
      - --transaction-isolation=READ-COMMITTED
      - --binlog-format=ROW
      - --innodb-use-native-aio=0
      - --skip-name-resolve
    volumes:
      - /data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - proxy

  nextcloud_redis: # <-- Mantenemos esto para el error de rendimiento
    image: redis:alpine
    container_name: nextcloud_redis
    restart: unless-stopped
    networks:
      - proxy

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - nextcloud_db
      - nextcloud_redis
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=nextcloud_redis
      - OVERWRITEHOST=drive.vilcheztech.com
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=172.0.0.0/8
    volumes:
      - nextcloud_html:/var/www/html
      - /mnt/pve/Disco4TB:/data/disco4tb
      - /mnt/videos_antiguos:/data/videos_antiguos
      - /mnt/onedrive:/data/onedrive:shared
      - /mnt/gopro_21_23:/data/gopro_21_23
      - /mnt/gopro_24_25_dji:/data/gopro_24_25_dji
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.rule=Host(`drive.vilcheztech.com`)"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      # Middlewares para quitar los avisos de HSTS y CalDav
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-hsts,nextcloud-redir"
      - "traefik.http.middlewares.nextcloud-hsts.headers.stsSeconds=15552000"
      - "traefik.http.middlewares.nextcloud-redir.redirectregex.regex=^https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-redir.redirectregex.replacement=https://$$1/remote.php/dav/"

volumes:
  nextcloud_html:
networks:
  proxy:
    external: true
